page {
    height: 100%;
    .menu {
        height: 100%;
    }
    .page-body {
        height: 100%;
    }
}
.page-section {
    position: relative;
    height: 100%;
    .search-wrap {
        height: 106rpx;
        padding: 16rpx 20rpx;
        .search-body {
            padding: 14rpx;
            background: var(--sectionBgColor);
            border-radius: 10rpx;
            .s-icon {
                margin-right: 10rpx;
            }
        }
    }

    .marque-wrap {
        height: 52rpx;
        padding: 0 20rpx 16rpx;
        .marque-body {
            color: var(--themeColor);
            .content-wrap {
                margin-left: 10rpx;
                white-space: nowrap;
                font-size: 24rpx;
                overflow: hidden;
            }
        }
    }

    .divider-wrap {
        .divider {
            height: 10rpx;
            background: var(--sectionBgColor);
        }
    }

    .menu-cate-wrap {
        overflow: hidden;
        .menu-cate-body {
            height: 100%;
        }
        .menu-list {
            width: 180rpx;
            height: 100%;
            background: var(--sectionBgColor);
        }
        .menu-scroll-view {
            height: 100%;
            overflow: hidden;
        }
        .menu-item {
            text-align: center;
            padding: 30rpx 4rpx;
            white-space: pre-wrap;
            &.active {
                background: #fff;
                color: red;
            }
        }
        .menu-detail {
            padding: 0 30rpx;
            padding-top: 4rpx;
            overflow: hidden;
            .menu-detail-item {
                &:not(:last-child) {
                    padding-bottom: 8rpx;
                }               
                .menu {
                    position: relative;
                    height: 202rpx;
                    border-bottom: 2rpx solid var(--sectionBgColor);
                    padding-bottom: 20rpx;
                    overflow: hidden;
                    &:not(:last-child ) {
                        margin-bottom: 20rpx;
                    }
                }
            }
            image {
                height: 180rpx;
                border-radius: 10rpx;
            }
            .title {
                position: relative;
                height: 50rpx;
                line-height: 50rpx;
                padding-left: 20rpx;
                margin-bottom: 16rpx;
                font-size: 30rpx;
                overflow: hidden;
                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    content: '';
                    height: 100%;
                    width: 6rpx;
                    background: var(--redColor);
                }
            }
            .lf {
                width: 180rpx;
                margin-right: 24rpx;
            }
            .rt {
                overflow: hidden;
            }
            .price {
                line-height: 1;
                color: var(--redColor);
            }
            .money {
                font-size: 40rpx;
                margin-right: 4rpx;
            }
            .money + text {
                text-decoration: line-through;
                color: var(--lineBgColor);
                font-size: 24rpx;
            }
            .name {
                width: 100%;
                font-size: 32rpx;
            }
            .update-dish-wrap {
                position: absolute;
                right: 2rpx;
                bottom: 22rpx;
            }
            .free {
                color: var(--grayColor);
            }
        }
    }
    
    .count-wrap {
        position: relative;
        height: 100rpx;
        width: 100%;
        overflow: hidden;
        z-index: 4;
        .count-body {
            height: 100rpx;
            .lf {
                position: relative;
                background: var(--blackColor);
                .count-num-wrap {
                    position: fixed;
                    left: 20rpx;
                    bottom: 18rpx;
                    z-index: 2;
                }
                .shopping-car-body {
                    position: relative;
                }
                .shopping-car {
                    width: 100rpx;
                    height: 100rpx;
                    border-radius: 50%;
                    background: rgba(32, 32, 32);
                    border: 8rpx solid #323233;
                    text-align: center;
                    line-height: 90rpx;
                    box-shadow: 0 0 4rpx rgba(0, 0, 0, .7);
                    &.active {
                        background: var(--blueColor);
                        .icongwc {
                            color: #fff;
                            filter: grayscale(0);
                        }
                    }
                    
                }
                .icongwc {
                    color: var(--redColor);
                    font-size: 46rpx;
                    filter: grayscale(100%);
                }
                .dot-wrap {
                    position: absolute;
                    left: 70rpx;
                    top: -5rpx;
                }
                .dot {
                    width: 38rpx;
                    height: 38rpx;
                    line-height: 38rpx;
                    background: var(--redColor);
                    color: #fff;
                    text-align: center;
                    font-size: 26rpx;
                    border-radius: 50%;
                    -webkit-text-size-adjust: 100%;
                }
                .total-money {
                    margin: 46rpx 0 0 10rpx;
                    color: #fff;
                }
                .old_money {
                    margin-left: 6rpx;
                    color: var(--grayColor);
                    text-decoration: line-through;
                    font-size: 24rpx;
                }
                .money {
                    margin: 0 2rpx;
                    font-size: 40rpx;
                }
                .empty {
                    font-size: 22rpx;
                    color: var(--grayColor);
                }
            }
            .rt {
                width: 210rpx;
                background: var(--lightBlackColor);
                &.active {
                    background: var(--greenColor);
                    .text-wrap {
                        color: #fff;
                    }
                }
                .text-wrap {
                    text-align: center;
                    line-height: 100rpx;
                    font-size: 36rpx;
                    color: var(--grayColor);
                }
            }
        }
    }

    .added-product-popup-wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        z-index: 2;
        opacity: 0
    }

    .popup-product-list-wrap {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 100rpx;
        background: #fff;
        z-index: 3;
        transform: translate3d(0,100%,0);
        .product-list-title {
            padding: 20rpx 30rpx;
            color: #333;
            font-size: 32rpx;
            background-color: #ccc;
            .clear {
                margin-left: 10rpx;
                font-size: 28rpx;
            }
        }
        .product-list-body {
            max-height: 500rpx;
            padding-left: 30rpx;
        }
        .product-item {
            height: 100rpx;
            padding: 35rpx 30rpx 35rpx;
            &:not(:last-child) {
                border-bottom: 2rpx solid var(--sectionBgColor);
            }
        }
        .product-name {
            width: 40%;
            font-size: 32rpx;
        }
        .product-item-money {
            margin-right: 50rpx;
            color: var(--redColor);
            .order-money {
                margin-right: 2rpx;
                font-size: 40rpx;
            }
        }
    }
}
