@import './styles/iconfont.wxss';

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}
page,view,scroll-view,navigator,swiper,text,swiper-item,image{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

page {
    --themeColor: #de8c17;
    --grayColor: #999;
    --blackColor: #444;
    --lightBlackColor: #555;
    --lineBgColor: #ccc;
    --sectionBgColor: rgba(153, 153, 153, .1);
    --redColor: #be1204;
    --blueColor: #438CFF;
    --greenColor: rgb(7, 193, 96);
    font-size: 28rpx;
}

image {
  display: block;
    width: 100%;
}

.flex {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-flex-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-align-space-between {
    align-items: space-between;
}

.flex-column {
    flex-direction: column;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 测试